.main-content {
    /* width: 495px; */
    text-align: center;
    /* margin: 10px; */
    /* padding: 20px; */
}

body {
    font-family: arial, Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

.header {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav {
    background-color:#ebebeb;
    padding: 20px;
    padding-top: 40px;
    padding-bottom:40px;
    margin-bottom: 10px;
}

.wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.section {
    background-color: #ebebeb;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 10px 0;
    width: 495px;
    min-width: 495px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.aside {   
    background-color: #ebebeb;
    float: left;
    width: 455px;
    margin-bottom: 10px;  
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.footer {
    background-color: #ebebeb;
    padding: 20px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.article {
    color:#ebebeb;
    background-color: #777;
    padding:10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-section {
    color: #777;
    background-color: #ebebeb;
    margin-bottom: -5px;
    padding: -1px;
}