.main-content {
    /* width: 495px; */
    text-align: center;
    /* margin: 10px; */
    /* padding: 20px; */
}

body {
    font-family: arial, Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
.header {
    background-color: red;
    padding: 20px;
    margin-bottom: 10px;
}

.nav {
    background-color: pink;
    padding: 20px;
}

.section {
    background-color: orange;
    float: left;
    padding: 10px;
    margin: 20px;
    width: 50%;
}

.aside {   
    background-color: green;
    float: left;
    padding: 150px;
    margin-top: 20px; 
    margin-bottom: 10px;  
    
}

.footer {
    background-color: purple;
    padding: 20px;
    clear: both;
    
}

.article {
    color:lightgreen;
    background-color: violet;
}

.sub-section {
    color: yellow;
    background-color:blue;
    padding: 20px;
    margin-left: 0 auto;
    margin-bottom: 10px;
}
