.main-content {
    /* width: 495px; */
    text-align: center;
    /* margin: 10px; */
    /* padding: 20px; */
}

body {
    font-family: arial, Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
.header {
    background-color: red;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav {
    background-color: pink;
    padding: 20px;
}.wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
}
.section {
    background-color: orange;
    float: left;
    padding: 10px 0;
    width: 495px;
    min-width: 495px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.aside {   
    background-color: green;
    float: left;
    margin-bottom: 10px;  
    width: 455px;
    margin-left: 10px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    margin-top: 10px;
    
}

.footer {
    background-color: purple;
    padding: 20px;
    clear: both;
    margin-bottom: 100px;
    
}

.article {
    color:lightgreen;
    background-color: violet;
    padding:10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-section {
    color: yellow;
    background-color:blue;
    margin-bottom: -5px;
    padding: .5px;

}